html,
body {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#main-container {
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.xFrame-loadable {
	background: url('../images/spinner.svg') no-repeat;
	background-position: 50%;
	background-size: 62px;
}
.xFrame-loadable * {
	visibility: hidden !important;
}

#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background-color: transparent;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	visibility: hidden;
}

#overlay.visible {
	background-color: rgba(0, 0, 0, 0.70);
	visibility: visible;
}

#overlay-center {
	position: fixed;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	overflow: visible;
}

.overlay-sizer {
	display: inline-block;
	max-width: 0vw;
	max-height: 0vh;
	overflow: hidden;
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#overlay-content {
	overflow: auto;
	margin-bottom: 0;
	width: 100%;
	height: 100%;
}

#overlay.visible .overlay-sizer {
	max-width: 50vw;
	max-height: 50vh;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#manager-login {
	padding: 30px;
	max-width: 600px;
	margin: 0 auto;
}

#login-response:empty {
	display: none;
}

#manager {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	padding-bottom: 0px;
	overflow: auto;
}

#manager>.row {
	min-height: 100%;
}

#sidebar-content .panel-group {
	height: 100%;
	overflow: auto;
	margin-bottom: 0;
}

#sidebar-content {
	padding-bottom: 30px;
	padding-top: 15px;
}

@media (min-width: 768px){

	#manager {
		padding-bottom: 15px;
	}

	#manager #sidebar {
		height: 100%;
		overflow: hidden;
	}

	#manager #content-area {
		height: 100%;
		overflow: hidden;
	}

	#sidebar-content {
		position: absolute;
		top: 42px;
		bottom: 0;
		left: 15px;
		right: 15px;
		overflow: hidden;
		padding-top: 15px;
		padding-bottom: 0px;
	}

	#manager>.row {
		height: 100%;
	}
	
}

#content-area textarea[id^="main_content_"] {
	resize: vertical;
	min-height: 50vh;
}

#manager-editor {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

#editor-form {
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 15px;
	flex: 1;
}